{
  //프리셋은 최신 JavaScript 기능을 지원하고
  //Next.js의 서버 사이드 렌더링(SSR)과 관련된 설정을 자동으로 적용
  "presets": ["next/babel"],

  //서버 사이드 렌더링(SSR)을 사용할 때
  //styled-components 스타일을 서버 측에서 렌더링하도록 설정합니다.
  //"plugins": [["styled-components", { "ssr": true }]]

  // inline-react-svg: SVG 이미지를 React 컴포넌트로 간편하게 변환할 수 있으며,
  // 이로써 코드를 더 간결하게 만들고 유지 관리하기 쉽게 해줍니다.
  "plugins": [["styled-components", { "ssr": true }], "inline-react-svg"]
}
